/* Background Elements */
body {
  background-color:rgb(247, 237, 233);
}
.h-stripe {
  height: 300px;
  background-image: linear-gradient(#7c75a1, #5f8abd);
  position: relative;
  top: 150px;
  z-index: -10;
}
.banner-box {
  margin-left: 10%;
}
.v-banner {
  width: 400px;
  height: 100vh;
  background-color:rgb(67, 67, 187);
  position: fixed;
  top: 0px;
  z-index: -10;
}

/* Nav */


/* Window */
.window-box {
  margin-left: 10%;
}
.window {
  margin-left: 50px;
  height: 600px;
  width: 600px;
  background-image: url("./images/toronto.jpg");
  background-size: cover;
  position: absolute;
  border-radius: 50%;
  top: 150px;
  z-index: -10;
}

/* About Me section */
.about-box {
  margin-left: 10%;
}
.about-me {
  width: 250px;
  height: 400px;
  background-color:rgb(247, 237, 233);
  box-shadow: 0 5px 5px 0;
  position: absolute;
  padding: 10px;
  margin-left: 50px;
}
.about-me-border {
  height: 380px;
  border: 5px solid white;
}
.socials {
  position: absolute;
  margin-top: 70px;
  margin-left: 10px;
}
.social-icon {
  width: 70px;
  height: 70px;
  background-color:black;
  border: 5px solid white;
  border-radius: 50%;
}
.icon-me {
  width: 130px;
  height: 130px;
  position: absolute;
  margin-top: 300px;
  margin-left: -40px;
  background-color:black;
  border: 5px solid white;
  border-radius: 50%;
}
.title-box {
  position: absolute;
  margin-top: 330px;
  margin-left: 310px;
}
h1 {
  color: white;
  text-shadow: 5px 5px 5px black;
}

/* Portfolio section */
.port-box {
  margin-top: 380px;
  margin-bottom: 20px;
  max-width: 1440px;
  position: relative;
  z-index: -9;
}
.port-mat-box {
  height: 400px;
  height: 100%;
  background-color:rgb(247, 237, 233);
  box-shadow: 0 5px 5px 0;
  padding-top: 50px;
}
.port-img {
  height: 200px;
  background-color: white;
  margin: 20px 20px 0 20px;
}
.port-desc {
  margin: 20px;
}

/* Footer */
.footer-box {
  text-align: center;
  margin-bottom: 20px;
}