body::before {
  content: "";
  position: fixed;
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  z-index: 100;
}
body {
  background-color: #3e515e;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
a {
  color: #cf95bd;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: rgb(255, 229, 142);
  transition: 1s;
}
.separator {
  height: 3em;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgb(0,0,0,0));
}
.skills-box {
  text-align: center;
  padding-bottom: 2em;
}
.skills-box > p {
  padding: 10px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right,rgb(0,0,0,0),#ad729a, rgb(255, 229, 142),#ad729a,rgb(0,0,0,0)) 1;
}
.skills-box > img {
  width: 70px;
  filter: opacity(70%);
}
#to-top {
  text-align: center;
  font-size: 24pt;
  margin-bottom: 1em;
}

/* --- left side --- */
#left-col {
  background-image: url('img/portrait.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 800px;
}
#portrait-sm {
  margin: 50px auto 0;
  border: 1px solid #ad729a;
  border-radius: 50%;
}
.hello {
  font-size: 64pt;
  font-family: 'Limelight', cursive;
  margin-top: 200px;
  text-shadow: 10px 10px 5px #0b1a2c;
}
.name {
  font-size: 64pt;
  font-family: 'Limelight', cursive;
}
.name, h5, .socials-box {
  text-align: end;
}

h5 {
  padding: 10px;
  border-top: 2px solid;
  border-image: linear-gradient(to right, rgb(0,0,0,0), #ad729a,  #ad729a, #ad729a, rgb(255, 229, 142),  #ad729a, rgb(0,0,0,0)) 1;
}

.social-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 5px solid white;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
}
.social-icon:hover {
  transition: 1.5s;
  transform: rotateY(360deg);
}
.github {
  background-image: url("img/GitHub-Mark.png");
}
.linkedin {
  background-image: url("img/LinkedIn-logo.png");
}
.mail {
  background-image: url("img/mail-logo.png");
}
.bio {
  margin-top: 40px;
  text-align: end;
  padding: 10px;
}


/* --- right side --- */

#right-col {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 200px;
}
.carousel-inner {
  padding: 20px;
}
.carousel-item > img {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  box-shadow: 10px 10px 15px #0b1a2c;
}
.slide-caption {
  margin-top: 20px;
}
.app-name-date {
  text-align: center;
  margin: 15px auto;
  padding: 10px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right,rgb(0,0,0,0),#ad729a, rgb(255, 229, 142),#ad729a,rgb(0,0,0,0)) 1;
}
.app-info {
  height: 100px;
  text-align: center;
}

/* --- responsive --- */

@media (max-width: 1399.98px) {
  .skills-p {
    margin-top: 5px;
  }
}
@media (max-width: 991.98px) {
  #right-col {
    margin-top: 10px;
  }
}
@media (max-width: 767.98px) {
  #left-col {
    background-image: none;
  }
  .hello {
    margin-top: 20px;
  }
  .hello, .name {
    text-align: center;
    font-size: 48pt;
  }
}
@media (max-width: 575.98px) {
  .slide-caption {
    padding-bottom: 30px;
  }
}