/* ----------------------------- Background Elements ----------------------------- */
body {
  font-family: 'Work Sans', sans-serif;
  background-image: linear-gradient(to bottom, #406885, #4a6f93, #5876a1, #687cae, #7b81b9, #9484bb, #ab88ba, #be8db8, #cf95ae, #d7a1a8, #d9aea8, #d8bbae);
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-wrapper {
  position: relative;
}
.h-stripe {
  height: 380px;
  width: 100%;
  background-color: white;
  opacity: 0.3;
  position: absolute;
  top: 270px;
  z-index: -10;
}
.banner-box {
  margin-left: 10%;
}
.v-banner {
  width: 300px;
  height: 100%;
  background-image: linear-gradient(#003466, #326698);
  position: fixed;
  top: 0px;
  z-index: -11;
}

/* ----------------------------- Nav ----------------------------- */
.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 10%;
}
.navbar-nav {
  padding-left: 30px;
}
.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}
.nav-link {
  color: #003466;
}
#about-me-nav {
  border-right: 1px solid white;
  border-left: 1px solid white;
}
@media all and (max-width: 992px) {
  .nav-link {
    font-size: 16pt;
  }
}
@media all and (max-width: 768px) {
  .nav-item {
    padding-left: 25px;
    padding-right: 25px;
  }
@media all and (max-width: 576px) {
  .nav-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
}

/* ----------------------------- Window ----------------------------*/
.window-box {
  margin-left: 10%;
}
.window {
  height: 800px;
  width: 800px;
  background-image: url("./images/toronto-island.jpg");
  background-size: cover;
  position: absolute;
  top: 100px;
  margin-left: 100px;
  border-radius: 50%;
  z-index: -10;
}
@media all and (max-width: 992px) {
  .window-box {
    margin-left: 10%;
  }
  .window {
    margin-left: 0px;
  }
}
@media all and (max-width: 768px) {
  .window {
    height: 600px;
    width: 600px;
    top: 20px;
    margin-left: 20px;
  }
}
@media all and (max-width: 576px) {
  .window {
    height: 400px;
    width: 400px;
    margin-left: 10px;
  }
}

/* ----------------------------- About Me section ----------------------------- */
.about-box {
  margin-left: 10%;
  position: absolute;
  top: 160px;
  z-index: 1;
}
.about-me {
  width: 350px;
  height: 500px;
  background-color: hsla(209, 50%, 40%, 0.8);
  border-radius: 10px;
  box-shadow: 5px 5px 8px #001930;
  position: relative;
  padding: 10px;
  margin-left: 100px;
}
.about-me-border {
  height: 100%;
  border-left: 3px solid white;
  margin-left: 50px;
}
#first-text {
  padding-top: 50px;
}
.socials-box {
  position: absolute;
  top: 60px;
  left: 80px;
}
.social-icon {
  width: 80px;
  height: 80px;
  border: 5px solid white;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
}
.github {
  background-image: url("./images/GitHub-Mark.png");
}
.linkedin {
  background-image: url("./images/LinkedIn-logo.png");
}
.mail {
  background-image: url("./images/mail-logo.png");
}
.icon-me {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 20px;
  left: 40px;
  background-image: url("./images/icon-me.jpg");
  background-size: cover;
  border: 3px solid white;
  border-radius: 50%;
}
.title-box {
  position: absolute;
  bottom: 20px;
  left: 410px;
}
h1 {
  color: white;
  text-shadow: 5px 5px 5px #001930;
  font-family: 'Stalemate', cursive;
  font-size: 80pt;
  margin-bottom: 0;
  line-height: 0.5;
}
@media all and (max-width: 992px) {
  .about-box {
    max-width: 800px;
    top: 130px;
  }
  .about-me {
    margin-left: 50px;
    height: 550px;
    width: 300px;
  }
  .about-me-border {
    margin-left: 20px;
    margin-right: 10px;
  }
  #first-text {
    padding-top: 20px;
  }
  h1 {
    font-size: 70pt;
  }
  .title-box {
    bottom: 100px;
    left: 340px;
  }
  .socials-box {
    height: 100px;
    width: fit-content;
    top: 460px;
    left: 380px;
  }
  .social-icon {
    display: inline-block;
    height: 70px;
    width: 70px;
  }
  .icon-me {
    height: 160px;
    width: 160px;
    left: -55px;
  }
}
@media all and (max-width: 768px) {
  .about-box {
    width: 600px;
    top: 300px;
  }
  .about-me {
    height: 550px;
    width: 450px;
  }
  .about-me-border {
    font-size: 16pt;
  }
  .title-box {
    bottom: 535px;
    left: 290px;
  }
  h1 {
    font-size: 70pt;
  }
  .socials-box {
    top: 40px;
    left: 500px;
  }
  .social-icon {
    display: block;
    height: 90px;
    width: 90px;
  }
}
@media all and (max-width: 576px) {
  .about-box {
    max-width: 400px;
  }
  .about-me {
    width: 350px;
  }
  .title-box {
    left: 120px;
  }
  .socials-box {
    left: -10px;
  }
  .icon-me {
    height: 130px;
    width: 130px;
    left: -25px;
  }
}

/* ----------------------------- Portfolio section ----------------------------- */
.port-box {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 620px;
  margin-bottom: 20px;
  max-width: 1440px;
  z-index: -1;
}
.port-mat-box {
  height: 400px;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 5px 5px 8px #001930;
  padding-top: 50px;
}
.port-img {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid white;
  margin: 20px 20px 0 20px;
}
#math-game {
  background-image: url("./images/math-game-thumb.png")
}
#todays-tasks {
  background-image: url("./images/todays-tasks-thumb.png");
}
#currency-conversion {
  background-image: url("./images/currency-conversion-thumb.png");
}
#write-as-rain {
  background-image: url("./images/write-thumb.png");
}
.port-date {
  display: inline-block;
  font-size: 10pt;
  font-weight: bold;
}
.port-title {
  float: right;
  color: #003466;
}
.port-title:hover {
  color: white;
  text-decoration: none;
}
.port-desc {
  margin: 20px;
}
@media all and (max-width: 992px) {
  .port-img {
    height: 300px;
  }
  .port-date {
    font-size: 12pt;
  }
  .port-title {
    font-size: 14pt;
  }
}
@media all and (max-width: 768px) {
  .port-box {
    margin-top: 820px;
  }
  .port-img {
    height: 450px;
  }
  .port-date {
    font-size: 14pt;
  }
  .port-title {
    font-size: 18pt;
  }
  .port-desc {
    font-size: 18pt;
  }
}
@media all and (max-width: 576px) {
  .port-img {
    height: 300px;
  }
  .port-box {
    max-width: 600px;
  }
}

/* ----------------------------- Footer ----------------------------- */
.footer-box {
  max-width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.footer-box > a:hover {
  text-decoration: none;
}
@media all and (max-width: 992px) {
  .footer-box {
    font-size: 16pt;
  }
}
@media all and (max-width: 768px) {
  .footer-box {
    font-size: 18pt;
  }
}